body {
    background-color: #cccccc;
    background-size: 100%;
}

img.logo {
    display: block;
}

h3.h {
    font-family: Pristina;
}

hr.hl {
    border: 1px solid #800000;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    overflow: hidden;
}

.left {
    float: left;
}

li a {
    font-family: whitesmoke;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

button.b {
    background-color: #C79303;
    display: block;
    color: #04454B;
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
}

    button.b:hover {
        background-color: #2D3436;
    }

button.b1 {
    background-color: #800000;
    text-align: center;
}

    button.b1:hover {
        text-decoration: underline;
    }

li a:hover {
    background-color: #800000;
}

b.b3 {
    color: whitesmoke;
}

    b.b3:hover {
        color: black;
    }

b.b2:hover {
    color: whitesmoke;
}

.productdata {
    background-image: url(../images/header2.jpg);
    padding: 5px;
}

.main {
    background-image: url(../images/i3.jpg)
}

.main1 {
    font-family: Arial;
    font-size: 120px;
    color: whitesmoke;
}

#tbl {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.sign {
    float: right;
    height: 100%;
}

    .sign a {
        height: 100%;
        display: table;
        float: left;
    }

h1.topic {
    font-weight: 100;
    font-family: Papyrus;
    color: #800000;
    font-size: 40px;
    font-weight: 100;
}

table.p1 {
}

.t1 {
    font-family: Arial;
}

.btn_text:hover {
    color: whitesmoke;
}

#ContactUsImage {
    display: block;
    background-image: url("../images/contact.jpg");
    background-size:cover;
    width: 100%;
    height:250px;
}
    #ContactUsImage h1 {
        color:whitesmoke;
        display: block;
        font-size: 100px;
        font-family: 'Lobster', cursive;
        text-align: center;
        padding-top:50px;
    }

#FormImage{
    display:block; 
    
}
#FormImage form h2{
    opacity:150%;
} 
input{
    width:500px;
}
textarea {
    width: 500px;
    height:150px;
}
#Reset{
    width:150px;
    align-content:end;
}
#SendProblems{
    width:150px;
    align-content:initial;
}
#FormImage h4{
    color:black;

}
#display{
    display:flex;
}
h1.h11{
    color:whitesmoke;
}
h3.h33{
    color:whitesmoke;
}
#contactusform {
    display:flex;
   /* display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;*/
    background-color: black;
    opacity: 50%;
    padding: 5px 10px;
}

#FormImage form{
    /*grid-column:1/2;*/
    width:50%;
}
#AlignImage {
    /*grid-column: 2/3;*/
    width: 50%;
    color: whitesmoke;
    font-size: 25px;
    margin-top: 100px;
    font-family: 'Amita', cursive;
}

#FormImage form button{
    float:left;
}

input[type="submit"] {
    border: 1px solid #006633;
    background-color: #009966;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
   
}

    input[type="submit"]:hover {
        border: 1px solid #006633;
        background-color: #00cc33;
        color: #ffffff;
        cursor: pointer;
    }
	
.history_table{
	border: 2px solid #800000;
}

.history_table tr th{
	font-family: san-serif;
	color: white;
	background-color: #800000;
}

.history_table tr:nth-child(even){
	background-color: #edb4b4;
}

.history_table tr td{
	font-family: san-serif;
	padding: 1em;
}

