body {
    background-color: #cccccc;
    background-size: 100%;
}

img.logo {
    display: block;
}

h3.h {
    font-family: Pristina;
}

hr.hl {
    border: 1px solid #800000;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    overflow: hidden;
}

.left {
    float: left;
}

li a {
    font-family: whitesmoke;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

button.b {
    background-color: #C79303;
    display: block;
    color: #04454B;
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
}

    button.b:hover {
        background-color: #2D3436;
    }

button.b1 {
    background-color: #800000;
    text-align: center;
}

    button.b1:hover {
        text-decoration: underline;
    }

li a:hover {
    background-color: #800000;
}

b.b3 {
    color: whitesmoke;
}

    b.b3:hover {
        color: black;
    }

b.b2:hover {
    color: whitesmoke;
}

.productdata {
    background-image: url(../images/header2.jpg);
    padding: 5px;
}

.main {
    background-image: url(../images/i3.jpg)
}

.main1 {
    font-family: Arial;
    font-size: 120px;
    color: whitesmoke;
}

#tbl {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.sign {
    float: right;
    height: 100%;
}

    .sign a {
        height: 100%;
        display: table;
        float: left;
    }

h1.topic {
    font-weight: 100;
    font-family: Papyrus;
    color: #800000;
    font-size: 40px;
    font-weight: 100;
}

table.p1 {
}

.t1 {
    font-family: Arial;
}

.btn_text:hover {
    color: whitesmoke;
}
#ContactUsImage {
    display: block;
    background-image: url("../images/wed1.webp");
    background-size:cover;
    width: 100%;
    height: 350px;
}

    #ContactUsImage h1 {
        color:chocolate;
        display: block;
        font-size: 30px;
        font-family: 'Abril Fatface', cursive;
        text-align: left;
        padding-top: 70px;
    }
#ourstory1 {
    font-family: 'Poppins', sans-serif;;
    color: black;
    font-size: 13px;
    align-content:center;
}
img.img {
    width:300px;
    height:150px;
}



.box {
    width: 28%;
    float: left;
    margin: 50px 20px;
    background-color: chocolate;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.15);
    
}
.box h4{
    margin-bottom:10px;
    font-size:23px;
    color:whitesmoke;
    text-transform:uppercase;

}
    .box p {
        font-size: 15px;
        line-height: 28px;
        
    }
    
 #more{
     display:none;
 }
 .box button{
     background-color:black;
     border:none;
     outline:none;
     color:white;
     font-size:25px;
     padding:5px;
 }
 

#btnone {
    width: 200px;
    background-color: whitesmoke;
	border-radius: 6px;
	margin:1rem;
    outline: none;
    color: black;
    font-size: 19px;
    padding: 5px;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

#btnone:hover{
	transform: scale(1.1);
	background-color:  chocolate;
}
#quote {
    text-align: justify;
    font-family: 'Chewy', cursive;
    font-size:17px;
    color:black;
}
#heart{
    display:flex;
    
}
#heart h2{
    color:black;
}

#ourStoryContainer{
    display :flex;
    margin-top:20px;
}

.img{
	margin-right: 10px;
}

    #ourStoryContainer #video{
        display:block;
        width:50%;
		padding:50px;
    }

    #ourStoryContainer #ourstory1{
        display:block;
        margin-left:50px;
    }

    #ourStoryContainer #ourstory1 h2{
        color:chocolate;
		font-size:30px;
    }
	